*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* home */
.menu-logo img, .menu-logo2 img, .menu-logo-produto img{
    height: 55px;
    margin-left: 30px;
}
.menu-logo{
    background-color: rgb(221, 63, 27);
    color: rgb(238, 233, 233);
    display: flex;
    height: 65px;
    align-items: center;
    padding: 8px;
}
.menu-logo h2{
    font-size: 15px;
}
.menu-logo a{
    color: rgb(238, 233, 233);
    margin: 80%;
}
.menu a, .menu-logo a{
    text-decoration: none;
    color: rgb(238, 233, 233);
    display: flex;
}
.menu{
    background-color: rgb(241, 126, 49);
    color: rgb(238, 233, 233);
    display: flex;
    gap: 50px;
    height: 45px;
    justify-content: center;
    list-style-type: none;
    align-items: center;
}
.menu a:hover, .menu-produto a:hover{
    background-color: rgb(238, 233, 233);
    color: rgb(241, 126, 49);
    justify-content: center;
    align-items: center;
    height: 45px;
    transition: 0.5s;
}

#carouselExampleIndicators{
    width: 70%;
    max-width: 900px;
    margin: 50px auto 20px;
}
#carouselExampleIndicators .carousel-item img{
    height: 250px;
    object-fit: cover;
}

#publi{
    display: block;
    margin: 0 auto;
    justify-content: center;
    height: 70px;
}
#frase{
    font-size: 15px;
    color: rgb(241, 126, 49);
    text-align: center;
    align-items: center;
    margin: 20px auto;
}
#hr1{
    color: rgb(241, 126, 49);
    border: 2px solid;
    width: 950px;
    align-items: center;
    margin: auto;
}
.sessao-produtos{
    display: flex;
    gap: 30px;
    margin: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 30px;
}
.box-produto{
    height: 180px;
    width: 160px;
    border-radius: 3px;
    font-size: 13px;
    color: rgb(113, 113, 113);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px;
}
.box-produto:hover, .op-produtos img:hover{
    border: 1.5px solid rgb(241, 126, 49);
}
.box-produto img{
    height: 100px;
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.descricao{
    display: flex;
    gap: 15px;
    font-size: 10px;
    margin-top: -5px;
}
.descricao p:first-child{
    color: rgb(221, 63, 27);
}
.descricao p:last-child{
    color: rgb(200, 200, 200);
}

footer{
    background-color: rgb(243, 243, 243);
    height: 450px;
}
.conjunto-footer{
    display: flex;
    margin-top: 40px;
    justify-content: center;
}
.conjunto-footer h2{
    font-size: 14px;
}
.conjunto-footer p{
    font-size: 10px;
}
.footer-box{
    padding: 60px;
    margin-left: 12px;
}
#hr2{
    width: 1000px;
    align-items: center;
    margin: auto;
    margin-top: -40px;
    border: 1.3px solid;
}
#copyright{
    text-align: center;
    margin-top: 20px;
}
.pagamento-img img{
    height: 20px;
}
.pagamento-img{
    display: flex;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.pagamento-img img:first-child{
    height: 18px;
}
.redes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.redes p{
    margin-right: -50px;
}
.atendimento{
    flex-direction: column;
    display: grid;
    gap: 10px;
}
.atendimento img{
    height: 50px;
    border-radius: 5px;
}

/* login */
.menu-logo2 section{
    background-color: rgb(243, 243, 243);
    color: rgb(221, 63, 27);
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
#button-entre, #button-ajuda{
    background-color: rgb(243, 243, 243);
    border: 0;
}
#button-entre{
    margin-left: 20px;
}
#button-ajuda{
    margin-left: 500px;
    width: 200px;
    color: rgb(221, 63, 27);
}
#fundo-laranja{
    background-color: rgb(221, 63, 27);
}
#fundo-cinza{
    background-color: rgb(113, 113, 113);
}
.secao-login{
    background-color: rgb(243, 243, 243);
    height: max-content;
    padding: 20px 0 20px 0;
    width: 500px;
    margin: auto;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.secao-login article{
    display: flex;
    align-items: center;
    justify-content: center;
}
.secao-box{
    padding-top: 30px;
    margin-bottom: 50px;
}
#titulo-login{
    font-size: 25px;
    margin-bottom: 30px;
}
.input-caixa{
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(200, 200, 200);
    width: 390px;
    height: 40px;
    border-radius: 3px;
    margin-bottom: 50px;
    padding: 20px;
}
.button-entre{
    width: 390px;
    height: 40px;
    border: 1px solid rgb(221, 63, 27);
    background-color: rgb(221, 63, 27);
    border-radius: 3px;
    color: rgb(243, 243, 243);
}
.button-entre:hover, #button-comprar:hover{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(241, 126, 49);
    transition: 0.5s;
}
.button-link button{
    border: none;
    text-decoration: none;
    margin: 20px 47px;
}
a{
    text-decoration: none;
}
.login-cadas{
    align-items: center;
}
.login-cadas button{
    color: rgb(221, 63, 27);
    background-color: rgb(243, 243, 243);
    border: none;
    margin: 0 0 15px 0;
    padding: 8px;
}
.divisao{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divisao p{
    color: rgb(150, 150, 150);
    margin: 0 7px;
}
.divisao hr{
    border-top: 1px solid rgb(113, 113, 113);
    margin: 0;
    width: 185px;
    align-items: center;
}
.redes-login{
    background-color: rgb(243, 243, 243);
    margin: 20px;
    border: 1px solid rgb(200, 200, 200);
    padding: 5px 10px 5px 10px;
}
.redes-login-footer{
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(200, 200, 200);
    padding: 2px;
    width: 115px;
}
.redes-login img, .redes-login-footer img{
    height: 25px;
}

/* redefinir senha */
.secao-redefinir{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: max-content;
    padding: 0 0 40px 0;
    width: 500px;
    margin: auto;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.secao-redefinir img{
    margin: 20px 0 0 -80%;
}

/* cadastro usu */
.secao-cad-usu{
    background-color: rgb(243, 243, 243);
    height: max-content;
    padding: 20px 0 20px 0;
    width: 500px;
    margin: auto;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.secao-cad-usu h1{
    color: rgb(241, 126, 49);
    font-size: 20px;
    margin: 0 0 30px -230px;
}
.secao-cad-usu h2{
    color: rgb(241, 126, 49);
    font-size: 20px;
    margin: -20px 0 0 0;
}
.posi-usu{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    margin: 30px 0 30px 0;
}
.posi-usu button{
    border: 1px solid rgb(241, 126, 49);
    color: rgb(241, 126, 49);
    padding: 5px;
    border-radius: 5px;
    margin: -12px 10px 0 0;
}

/* produto */
.secao-produtos{
    display: flex;
    justify-content: center;
}
.menu-logo-produto{
    background-color: rgb(221, 63, 27);
    color:rgb(239, 238, 237);
    display: flex;
    padding: 8px;
    align-items: center;
    height: 65px;
}
.menu-prod{
    text-decoration: none;
    background-color: rgb(150, 150, 150);
    display: flex;
    gap: 50px;
    height: 45px;
    justify-content: center;
    list-style-type: none;
    align-items: center;
}
.menu-prod a{
    text-decoration: none;
    color: rgb(238, 233, 233);
}
.lista-prod1{
    display: flex;
}
.op-produtos img{
    height: 90px;
    width: 95px;
}
.op-produtos button{
    border: none;
}
.op-produtos{
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin: 40px 0 0 0;  
}
.op button{
    border: 1px solid rgb(219, 217, 215);
    padding: 8px 12px;
    width: fit-content;
    font-size: 10px;
    color: rgb(155, 155, 155);
    background-color: rgb(255, 255, 255)
}
.lista-prod2{
    padding: 50px;
}
#button-comprar{
    background-color: rgb(221, 63, 27);
    color: rgb(239, 238, 237);
    height: 50px;
    width: 120px;
    border: none;
}
#preco{
    color: rgb(241, 126, 49);
}