<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Produtos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body id="fundo-cinza">
    <header class="menu-logo">
        <img src="/xhopii-projeto/assets/img/logo.png" alt="logo">
        <h1>Xhoppi</h1>
        <a href="/xhopii-projeto/view/login.html"><h2>Sair</h2></a>
    </header>

    <nav>
        <ul class="menu">
            <a href="/xhopii-projeto/view/home.html"><li>Home</li></a>
            <a href="/xhopii-projeto/view/cadastro-cliente.html"><li>Cadastro Cliente</li></a>
            <a href="/xhopii-projeto/view/cadastro-funcionario.html"><li>Cadastro Funcionário</li></a>
            <a href="/xhopii-projeto/view/cadastro-produto.html"><li>Cadastro Produto</li></a>
            <a href=""><li>Ver Clientes</li></a>                
            <a href=""><li>Ver Funcionários</li></a>
            <a href="/xhopii-projeto/view/vizualizacao-produtos.html"><li>Ver Produtos</li></a>
        </ul>
    </nav>


    <footer>
        <section class="conjunto-footer">
            <article class="footer-box">
                <h2>ATENDIMENTO AO CLIENTE</h2>
                <p>Central de Ajuda</p>
                <p>Como Comprar</p>
                <p>Métodos de Pagamento</p>
                <p>Garantia Xhopii</p>
                <p>Devolução e Reembolso</p>
                <p>Fale Conosco</p>
                <p>Ouvidoria</p>
            </article>

            <article class="footer-box">
                <h2>SOBRE A XHOPII</h2>
                <p>Sobre Nós</p>
                <p>Políticas de Privacidade</p>
                <p>Programa de Aliados da Xhopii</p>
                <p>Seja um Entregador Xhopii</p>
                <p>Ofertas Relâmpago</p>
                <p>Xhopii Blog</p>
                <p>Impresa</p>
            </article>

            <article class="footer-box">
                <h2>PAGAMENTO</h2>
                <article class="pagamento-img">
                        <img src="/xhopii-projeto/assets/img/pix.png" alt="pix">
                        <img src="/xhopii-projeto/assets/img/boleto.png" alt="boleto">
                        <img src="/xhopii-projeto/assets/img/american_express.png" alt="american express">
                    
                        <img src="/xhopii-projeto/assets/img/visa.jpg" alt="visa">
                        <img src="/xhopii-projeto/assets/img/mastercard.png" alt="mastercard">
                        <img src="/xhopii-projeto/assets/img/hiper.png" alt="hipercard">

                        <img src="/xhopii-projeto/assets/img/elo.png" alt="elo">
                </article>
            </article>

            <article class="footer-box">
                <h2>SIGA-NOS</h2>
                <article class="redes">
                    <img src="/xhopii-projeto/assets/img/instagram.png" alt="instagram">
                    <p>Instagram</p>
                    <img src="/xhopii-projeto/assets/img/twitter.png" alt="twitter">
                    <p>Twitter</p>
                    <img src="/xhopii-projeto/assets/img/facebook.png" alt="facebook">
                    <p>Facebook</p>
                    <img src="/xhopii-projeto/assets/img/youtube.png" alt="youtube">
                    <p>Youtube</p>
                    <img src="/xhopii-projeto/assets/img/linkedin.png" alt="linkedin">
                    <p>LinkedIn</p>
                </article>
            </article>

            <article class="footer-box">
                <h2>ATENDIMENTO AO CLIENTE</h2>
                <article class="atendimento">
                    <img src="/xhopii-projeto/assets/img/qr.png" alt="qr code">
                    <button class="redes-login-footer"><img src="/xhopii-projeto/assets/img/googleplay-login.png" alt="googleplay">Google Play</button>
                    <button class="redes-login-footer"><img src="/xhopii-projeto/assets/img/apple-login.png" alt="apple">Apple Store</button>

                </article>
            </article>
        </section>

        <hr id="hr2">

        <p id="copyright"> <strong>&#169</strong> 2023 Xhopii. Todos os direitos acadêmicos reservados</p>

    </footer>

</body>
</html>